.button-large {
    background-image: -moz-linear-gradient(top, #ed391b, #ce1a00);
    background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
    background-image: -ms-linear-gradient(top, #ed391b, #ce1a00);
    background-image: linear-gradient(top, #ed391b, #ce1a00);
    display: inline-block;
    background-color: #ed391b;
    color: #fff;
    text-decoration: none;
    font-size: 1.75em;
    height: 2em;
    line-height: 2.125em;
    font-weight: 300;
    padding: 0 45px;
    outline: 0;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}

.btn-here {
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 100%;
}

    .btn-here:hover {
        transition: 0.3s;
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    }

    .button-large:active {
        background-image: -moz-linear-gradient(top, #ce1a00, #ed391b);
        background-image: -webkit-linear-gradient(top, #ce1a00, #ed391b);
        background-image: -ms-linear-gradient(top, #ce1a00, #ed391b);
        background-image: linear-gradient(top, #ce1a00, #ed391b);
        background-color: #ce1a00;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
    }

#header {
    background-image: url(images/logo.jpg); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center center;
    padding: 0; 
    margin: 0 auto;
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.img-gros-biceps {
    height: 100%;
    object-fit: cover;
    border-radius: 10px 99px 10px 101px;
}

#card-header {
    border: none;
}


.card-body button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.card-body button::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    left: 80px;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-525%, 0, 0) rotate(35deg);
}

.card-body button:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(800%, 0, 0) rotate(35deg);
}


.text-gros-biceps {
    text-align: justify !important;
}

.card .card-img {
    border-bottom: 1px solid rgba(0,0,0,.125);
    height: 200px;
}

.card .card-img img {
    height: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .card-body span {
        color: #50559E;
    }

.avantages-application li {
    list-style-type: none;
    position: relative;
    text-align: left;
    padding-left: 35px;
    margin: 20px 50px;
}

.avantages-application li:before {
    border-style: solid;
    border-width: 3px 3px 0 0;
    color: #2d3058;
    content: "";
    display: inline-block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 6px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 18px;
}

#logo {
    width: auto; 
    height: 100%; 
    display: block;
}






