@page "/"
@using FilRougeCore.Models;
@inject NavigationManager Navigator;

<PageTitle>Accueil</PageTitle>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">

            <!-- Header -->
            <section id="header" class="text-center my-5">

                <img id="logo">
              
            </section>

            <!-- Banner -->
            <section id="gros-biceps" class="text-center my-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12 order-md-first">
                            <img src="images/salut.jpg" alt="" class="img-fluid img-gros-biceps" />
                        </div>

                        <div class="col-md-6 col-12">
                            <!-- Banner Copy (in a card) -->
                            <div id="card-header" class="card">
                                <div class="card-body">
                                    <h2 class="card-title text-dark"><span>Bienvenue sur Gros-Biceps</span</h2>
                                    <p class="card-text text-dark text-gros-biceps">   Bienvenue sur notre plateforme de réservation
                                        de salle de sport <span class="span">Gros-Biceps</span>, l'endroit idéal pour façonner votre bien-être. Chez nous, la liberté de 
                                        choisir votre séance d'entraînement est entre vos mains. Réservez votre <span>créneau en un clic</span> et
                                        découvrez une expérience fitness sur mesure. Que vous soyez un passionné de musculation, un adepte
                                        du cardio ou un novice en quête de motivation, notre plateforme vous donne accès à une variété d'options
                                        pour sculpter votre corps et <span>améliorer votre santé.</span> Faites de la réservation de salle de sport un jeu d'enfant
                                        et commencez votre voyage vers une vie plus saine et plus énergique dès aujourd'hui</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<!-- Features -->
<section id="features" class="text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">

                <!-- Feature #1 -->
                <div class="card h-100">
                    <div class="card-img">
                        <img src="images/fesses.jpg" class="card-img-top" alt="" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-dark text-center">Inscris toi ici pour perdre ton gros cul</h2>
                        <a href="@(Navigator.BaseUri)login">
                            <button>Inscription</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-6">

                <!-- Feature #2 -->
                <div class="card h-100">
                    <div class="card-img">
                        <img src="images/pitbull.jpg" class="card-img-top" alt="" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-dark text-center">Abonnements Gros-Biceps disponibles</h2>
                        <a href="">
                            <button>Abonnements</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-6">

                <!-- Feature #3 -->
                <div class="card h-100">
                    <div class="card-img">
                        <img src="images/salle.jpg" class="card-img-top" alt="" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-dark text-center">Recherche ta salle près de chez toi</h2>
                        <a href="@(Navigator.BaseUri)rooms">
                            <button>Salles disponibles</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-6">

                <!-- Feature #4 -->
                <div class="card h-100">
                    <div class="card-img">
                        <img src="images/brain.jpg" class="card-img-top" alt="" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-dark text-center">Cerveau avant biceps ! Lis nos actualités</h2>
                        <a href="">
                            <button>Blog</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<!-- Content -->

<section id="application" class="text-center my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 order-md-first">
                <img src="images/mobile.png" alt="" class="img-fluid img-gros-biceps" />
            </div>

            <div class="col-md-6 col-12">
                <!-- Banner Copy (in a card) -->
                <div id="card-header" class="card">
                    <div class="card-body">
                        <h2><span>Application gratuite</span> pour vous accompagner</h2>
                        <ul class="avantages-application">
                            <li>Gratuit</li>
                            <li>Pas cher</li>
                            <li>Ta vue</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






