@page "/"
@using FilRougeCore.Models;
@inject NavigationManager Navigator;

<PageTitle>Accueil</PageTitle>


@*<nav class="navbar navbar-expand-lg navbar-light bg-light navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#gros-biceps">Gros Biceps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#application">Application</a>
                </li>
            </ul>
        </div>
    </div>
</nav>*@


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">

            <!-- Header -->
            <section id="header" class="text-center my-5">

                <img id="logo">

                <nav id="nav">
                    <!-- Ajoutez ici vos éléments de navigation si nécessaire les potos -->
                </nav>
            </section>

            <!-- Banner -->
            <section id="gros-biceps" class="text-center my-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-12 order-md-first">
                            <img src="images/salut.jpg" alt="" class="img-fluid img-gros-biceps" />
                        </div>

                        <div class="col-md-6 col-12">
                            <!-- Banner Copy (in a card) -->
                            <div id="card-header" class="card">
                                <div class="card-body">
                                    <h2 class="card-title text-dark">Bienvenue sur Gros-Biceps</h2>
                                    <p class="card-text text-dark text-gros-biceps">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean varius finibus bibendum. Nunc id cursus sapien. Mauris eu lectus ac eros tristique blandit eget finibus augue. Nunc finibus ante libero, sed lacinia arcu sodales a. Maecenas ut erat mauris. Aliquam vitae risus ut lorem suscipit feugiat sit amet eu nulla. Sed risus tellus, scelerisque a convallis ac, dictum eu tellus. Aliquam fermentum diam et urna hendrerit, sit amet sodales magna elementum. Donec fringilla consectetur urna vitae aliquam. Nulla imperdiet iaculis sapien sit amet tincidunt. Vestibulum id hendrerit lectus. Morbi tellus dui, pharetra id ipsum ut, interdum bibendum turpis. Donec lacus tellus, accumsan a diam vitae, hendrerit tincidunt nulla. Nullam lorem est, lobortis eu lorem sit amet, pretium condimentum quam. Pellentesque vitae purus tincidunt, aliquam ipsum sit amet, euismod nunc.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<!-- Features -->
<section id="features" class="text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">

                <!-- Feature #1 -->
                <div class="card h-100">
                    <div class="card-img">
                        <img src="images/fesses.jpg" class="card-img-top" alt="" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-dark text-center">Inscris toi ici pour perdre ton gros cul</h2>
                        <a href="@(Navigator.BaseUri)login">
                            <button>Inscription</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-6">

                <!-- Feature #2 -->
                <div class="card h-100">
                    <div class="card-img">
                        <img src="images/pitbull.jpg" class="card-img-top" alt="" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-dark text-center">Abonnements Gros-Biceps disponibles</h2>
                        <a href="">
                            <button>Abonnements</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-6">

                <!-- Feature #3 -->
                <div class="card h-100">
                    <div class="card-img">
                        <img src="images/salle.jpg" class="card-img-top" alt="" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-dark text-center">Recherche ta salle près de chez toi</h2>
                        <a href="@(Navigator.BaseUri)rooms">
                            <button>Salles disponibles</button>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-6">

                <!-- Feature #4 -->
                <div class="card h-100">
                    <div class="card-img">
                        <img src="images/brain.jpg" class="card-img-top" alt="" />
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-dark text-center">Cerveau avant biceps ! Lis nos actualités</h2>
                        <a href="">
                            <button>Blog</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<!-- Content -->

<section id="application" class="text-center my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 order-md-first">
                <img src="images/mobile.png" alt="" class="img-fluid img-gros-biceps" />
            </div>

            <div class="col-md-6 col-12">
                <!-- Banner Copy (in a card) -->
                <div id="card-header" class="card">
                    <div class="card-body">
                        <h2><span>Application gratuite</span> pour vous accompagner</h2>
                        <ul class="avantages-application">
                            <li>Prout</li>
                            <li>Prouti</li>
                            <li>Prouta</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-4 footer">
    <div class="container text-center">
        <p class="text-dark">&copy; 2023 Gros-Biceps. Tous droits réservés.</p>
    </div>
</footer>




