@page "/Room/{roomId:int}"
@using FilRougeCore.Models;
@using FilRougeFront.Services;
@inject RoomService roomService

<h3>Détails de la salle de sport</h3>

@if (room != null)
{
    <h4>Nom de la salle : @room.Name</h4>
    <p>Localisation : @room.Location</p>
    <p>Image : <img src="@room.ImageURL" alt="Image de la salle de sport" /></p>
    
}
else
{
    <p>Salle de sport introuvable.</p>
}

@code {
    private Room room;
    [Parameter] public int roomId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        room = await roomService.Get(roomId);
    }
}
