.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

article {
    flex: 1;
}

.sidebar {
    background-color: rgb(52, 55, 101);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.footer {
    background: rgb(0,172,255);
    background: linear-gradient(90deg, rgba(0,172,255,1) 21%, rgba(9,9,121,1) 37%, rgba(2,0,36,1) 97%);
    color: #fff;
    padding: 20px 0;
}


    .footer a {
        color: #007BFF;
        text-decoration: none;
    }


    .footer h4 {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }


    .footer address p {
        margin: 0;
    }


    .footer hr {
        border-color: #007BFF;
        margin: 10px 0;
    }


    .footer p.text-center {
        font-size: 0.8rem;
        margin: 0;
    }
