@inherits LayoutComponentBase

<div class="page">
   

    <main>
       

        <article class="custom" style="padding-left: 0 !important; padding-right: 0 !important;">
            @Body
        </article>
    </main>
</div>
